@model BookingApp.Models.Accommodation

@{
    ViewData["Title"] = "Edit";
}

<div class="card text-center main-card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs nav-fill">
            <li class="nav-item">
                <a class="nav-link active" aria-current="true" href="#">Information</a>
            </li>
         @*   <li class="nav-item">
                <a class="nav-link" asp-controller="Picture" asp-action="ManagePictures" asp-route-id="@Model.Id">
                    Photos
                    @if (Model.Pictures != null && Model.Pictures.Count == 0)
                    {
                        <span class="badge rounded-pill bg-danger" title="You must add at least 1 photo!">!</span>
                    }
                </a>
            </li>*@
        </ul>
    </div>

    <form asp-action="Edit">
        <div class="card-body text-start">

            <h5>General informations:</h5>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Address.Id" />

            <div class="row form-group">
                <div class="col-md-7">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="col-md-3">
                    <label asp-for="Type" class="control-label"></label>
                    <select asp-for="Type" class="form-control form-select">
                        <option value="Apartment">Apartment</option>
                        <option value="Maison">Maison</option>
                        <option value="Room in an apartment">Room in an apartment</option>
                        <option value="Room in a house">Room in a house</option>
                    </select>
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>

                <div class="col-md-2">
                    <label asp-for="MinRentalPeriod" class="control-label"></label>
                    <input asp-for="MinRentalPeriod" class="form-control" min="1" step="1" />
                    <span asp-validation-for="MinRentalPeriod" class="text-danger"></span>
                </div>

                <div class="col-md-2">
                    <label asp-for="MaxRentalPeriod" class="control-label"></label>
                    <input asp-for="MaxRentalPeriod" class="form-control" min="1" step="1" />
                    <span asp-validation-for="MaxRentalPeriod" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <hr class="solid">
            <h5>Adresse :</h5>

            <div class="row form-group">
                <div class="col-md-7">
                    <label asp-for="Address.StreetAndNumber" class="control-label"></label>
                    <input asp-for="Address.StreetAndNumber" class="form-control" />
                    <span asp-validation-for="Address.StreetAndNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-6">
                    <label asp-for="Address.City" class="control-label"></label>
                    <input asp-for="Address.City" class="form-control" />
                    <span asp-validation-for="Address.City" class="text-danger"></span>
                </div>

                <div class="col-md-4">
                    <label asp-for="Address.Country" class="control-label"></label>
                    <input asp-for="Address.Country" class="form-control" />
                    <span asp-validation-for="Address.Country" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Sauvegarder" class="btn btn-success" />
            <a asp-action="Index" class="btn btn-outline-secondary">Return to CRUD</a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
